@charset "UTF-8";

@import "./vars.scss";
@import "./antd.scss";
@import "./antMods.scss";
// @import "./sanitize.scss";

body {
  max-width : 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;

  &::selection,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    box-shadow: none;
    outline   : none;
  }
}

button {
  box-shadow: none;
  outline   : none;
    &::selection,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      box-shadow: none;
      outline   : none;
    }
}
